.js-gallery{
  margin: 0 auto;
  border: 1px solid black;
  box-sizing: content-box!important;

  div{
    display: inline-block;
    img{
      object-fit: cover;
      display: block;
    }
    .none{
      display: none;
    }
  }

}
.flex{
  display: flex;
}
.flex-wrap-column{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}


.overNumber{
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  font-weight: bold;
  transition: all .3s ease 0s;
  &:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
}

.relativePhoto{
  position: relative;
}
