:root{
  --border:5px; //jsのborderも変えてください
  --border_color:white;
}

.js-gallery{
  padding:var(--border);
  background-color: var(--border_color);
  margin: 0 auto;

  div{
    display: inline-block;
    img{
      object-fit: cover;
      display: block;
      border: var(--border) solid var(--border_color);
    }
  }
  .none{
    display: none;
  }
}
#flex{
  display: flex;
}
#flex-wrap-column{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

#overNumber{
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  z-index: 2;
  color: var(--border_color);
  opacity: 0.7;
  font-weight: bold;
  transition: all .3s ease 0s;
  &:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
}

#relativePhoto{
  position: relative;
}
